html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #1b262c;
  color: #eee;
}

#container {
  display: flex;
  height: 100%;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  margin: 0 auto;
}

p {
  line-height: 1.5rem;
}

button {
  background-color: #3282b8;
  border: 0;
  color: #fff;
  outline: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

a {
  color: #eee;
  font-weight: 600;
  text-decoration: none;
}
